@model IEnumerable<FIT5032AssignmentProject.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-striped table-bordered" id="orders-table">

    <div id="container">
        <div id="map"></div>
        <div id="sidebar"></div>
    </div>

    <div>
        <h3>
            Find the way
        </h3>
        <div class="row">
            <label for="startPoint" class="col-md-2 control-label">Start Point</label>
            <input type="text" id="startPoint" class="col-md-4 form-control"/>
            <label for="endPoint" class="col-md-2 control-label">End Point</label>
            <select id="endPoint" class="col-md-4 form-control">
                @foreach (var item in Model)
                {
                    <option value="@item.Address"> @item.Name </option>
                }
            </select>
        </div>
        <br />
        <div class="row">
            <label for="mode" class="col-md-2 control-label">Travel mode</label>
            <select id="mode" class="col-md-4 form-control">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Bicycling</option>
                <option value="TRANSIT">Transit</option>
            </select>
            <input type="submit" value="search" class="btn btn-default col-md-offset-2 col-md-2" id="getDirection"/>
        </div>
    </div>

    <br/>

    <div>
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Therapist.FirstName) *@
                Therapist Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Therapist.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    
                    @Html.ActionLink("Book", "Book", new {id = item.Id})
                </td>
            </tr>
        }

        <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Therapist.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
        </tfoot>
    </div>
</table>


<div>
    @Html.ActionLink("My Orders", "MyOrder")
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('#orders-table').DataTable();
        });
    </script>
    <style>
        #container {
            height: 550px;
            display: flex;
        }

        #sidebar {
            flex-basis: 15rem;
            flex-grow: 1;
            padding: 1rem;
            max-width: 30rem;
            height: 100%;
            box-sizing: border-box;
            overflow: auto;
        }

        #map {
            flex-basis: 0;
            flex-grow: 4;
            height: 100%;
        }

        #map { flex: auto; }

        #sidebar {
            flex: 0 1 auto;
            padding: 0;
        }

        #sidebar > div { padding: 0.5rem; }
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    @Scripts.Render("~/bundles/maps")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9RWcr3Dc_EdgOlOm7sCRm_mHV7LVezN0&callback=initMap&libraries=places&v=weekly"defer></script>
}